$orange_color: #f48665;
$text_main_color: #4a658a;
$input_background_color: #eeeeee;
$shadow_orange: #FFD8CC;
$shadow_green: #BEFFD2;
$green_color: #44ce6f;

$border-purple: #D6B4E7;
$simple-border: #EEEEEE
